@use "../util" as u;
@use "../globals" as g;

.article {

  &__container {
    padding-bottom: 184px;
  }

  &__header {
    padding-bottom: 70px;

    @include u.breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      text-transform: uppercase;
      font-size: 36px;
      text-align: center;
    }

    &--button {
      width: 201px;
      height: 52px;
      margin: 0 auto;
      margin-bottom: 122px;
      border: 2px solid black;
      font-family: "Alata", sans-serif;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      line-height: 2.5;
      letter-spacing: 7px;


      @include u.breakpoint-up(large) {
        margin: 0;

        &:hover {
          background-color: black;
          transition: all 300ms ease-in-out;
        }

        &:hover a {
          color: white;
          transition: all 300ms ease-in-out;
        }
      }
    }

    &--button {

      a {
        color: black;
      }
    }
  }

  &__images {

    @include u.breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;
    }

    a {
      position: relative;
      width: 100%;
      height: 153px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-bottom: 30px;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.20);

      @include u.breakpoint-up(large) {
        width: 256px;
        height: 450px;
        margin-bottom: 0;
      }

      &:hover {
        opacity: 0.75;
        transition: all 200ms ease-in-out;
        transform: scale(1.05);
      }
    }

    p {
      position: absolute;
      bottom: 7px;
      max-width: 52%;
      padding: 20px;
      color: g.$white;
      font-family: u.$font-josefin;
      font-size: 32px;
      text-transform: uppercase;

      &:hover {
        color: black;
        transition: all 200ms ease-in-out;
      }

      @include u.breakpoint-up(large) {
        bottom: 0;
        padding: 40px;
      }
    }

    &--earth {
      background-image: url(../../images/mobile/image-deep-earth.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-deep-earth.jpg);

        p {
          max-width: 47%;
        }
      }
    }

    &--arcade {
      background-image: url(../../images/mobile/image-night-arcade.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-night-arcade.jpg);
      }
    }

    &--soccer {
      background-image: url(../../images/mobile/image-soccer-team.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-soccer-team.jpg);

        p {
          max-width: 100%;
        }
      }
    }

    &--grid {
      background-image: url(../../images/mobile/image-grid.jpg);

      p {
        max-width: 47%;
      }

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-grid.jpg);
      }
    }

    &--above {
      background-image: url(../../images/mobile/image-from-above.jpg);

      p {
        max-width: 69%;
      }

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-from-above.jpg);

        p {
          max-width: 100%;
        }
      }
    }

    &--borealis {
      background-image: url(../../images/mobile/image-pocket-borealis.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-pocket-borealis.jpg);
      }
    }

    &--curiosity {
      background-image: url(../../images/mobile/image-curiosity.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-curiosity.jpg);
      }
    }

    &--fisheye {
      background-image: url(../../images/mobile/image-fisheye.jpg);
      margin-bottom: 43px;

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-fisheye.jpg);

        p {
          max-width: 100%;
        }
      }
    }
  }
}