@use "../util" as u;
@use "../globals" as g;

.article {

  &__container {}

  &__header {
    padding-bottom: 70px;

    @include u.breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      text-transform: uppercase;
      font-size: 36px;
      text-align: center;
    }

    &--button {
      width: 201px;
      height: 52px;
      margin: 0 auto;
      margin-bottom: 122px;
      border: 2px solid black;
      font-family: "Alata", sans-serif;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      line-height: 2.5;
      letter-spacing: 7px;
      cursor: pointer;

      &:hover {
        background-color: black;
        transition: all 300ms ease-in-out;
      }

      &:hover a {
        color: white;
        transition: all 300ms ease-in-out;
      }


      @include u.breakpoint-up(large) {
        margin: 0;
        width: 157px;
        height: 40px;
        font-size: 15px;
      }
    }

    &--button {

      a {
        color: black;
      }
    }
  }

  &__images {

    @include u.breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--item {
      position: relative;
      margin-bottom: 30px;
      width: 100%;
      height: 153px;

      @include u.breakpoint-up(large) {
        width: 256px;
        height: 450px;
      }

      a {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.20);
        border-radius: 5px;

        @include u.breakpoint-up(large) {
          width: 100%;
          height: 100%;
        }
      }

      .caption {
        position: absolute;
        bottom: 0;
        max-width: 52%;
        padding: 30px 28px;
        color: g.$white;
        font-family: u.$font-josefin;
        font-size: 28px;
        text-transform: uppercase;
        cursor: pointer;

        @include u.breakpoint-up(large) {
          font-size: 32px;
          bottom: 0;
          padding: 40px;
          max-width: 100%;
        }
      }
    }

    &--item:hover {
      opacity: 0.45;
      transition: opacity 200ms ease-in-out;
      transition: transform 200ms ease-in-out;
      transform: scale(1.05);

      .caption {
        transition: transform 200ms ease-in-out;
        transform: scale(1.05);
        font-weight: bold;
      }
    }

    &--earth {
      background-image: url(../../images/mobile/image-deep-earth.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-deep-earth.jpg);
      }
    }

    &--arcade {
      background-image: url(../../images/mobile/image-night-arcade.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-night-arcade.jpg);
      }
    }

    &--soccer {
      background-image: url(../../images/mobile/image-soccer-team.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-soccer-team.jpg);
      }
    }

    &--grid {
      background-image: url(../../images/mobile/image-grid.jpg);

      p {
        max-width: 47%;
      }

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-grid.jpg);
      }
    }

    &--above {
      background-image: url(../../images/mobile/image-from-above.jpg);

      p {
        max-width: 69%;
      }

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-from-above.jpg);

        p {
          max-width: 100%;
        }
      }
    }

    &--borealis {
      background-image: url(../../images/mobile/image-pocket-borealis.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-pocket-borealis.jpg);
      }
    }

    &--curiosity {
      background-image: url(../../images/mobile/image-curiosity.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-curiosity.jpg);
      }
    }

    &--fisheye {
      background-image: url(../../images/mobile/image-fisheye.jpg);
      margin-bottom: 43px;

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-fisheye.jpg);

        p {
          max-width: 100%;
        }
      }
    }
  }
}