@use "../util" as u;
@use "../globals" as g;

.article {

  &__container {}

  &__header {
    padding-bottom: 4.375rem;

    @include u.breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      text-transform: uppercase;
      font-size: 2.25rem;
      text-align: center;
    }

    &--button {
      width: 12.5625rem;
      height: 3.25rem;
      margin: 0 auto;
      margin-top: 2.6875rem;
      margin-bottom: 7.625rem;
      border: 0.125rem solid black;
      font-family: "Alata", sans-serif;
      font-size: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      line-height: 2.5;
      letter-spacing: 0.4375rem;
      cursor: pointer;

      &:hover {
        background-color: black;
        transition: all 300ms ease-in-out;
      }

      &:hover a {
        color: white;
        transition: all 300ms ease-in-out;
      }


      @include u.breakpoint-up(large) {
        margin: 0;
        width: 9.8125rem;
        height: 2.5rem;
        font-size: 0.9375rem;
      }
    }

    &--button {

      a {
        color: black;
      }
    }
  }

  &__images {

    @include u.breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--item {
      position: relative;
      margin-bottom: 1.875rem;
      width: 100%;
      height: 9.5625rem;

      @include u.breakpoint-up(large) {
        width: 16rem;
        height: 28.125rem;
      }

      a {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: 0rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.20);
        border-radius: 0.3125rem;

        @include u.breakpoint-up(large) {
          width: 100%;
          height: 100%;
        }
      }

      .caption {
        position: absolute;
        bottom: 0;
        max-width: 52%;
        padding: 1.875rem 1.75rem;
        color: g.$white;
        font-family: u.$font-josefin;
        font-size: 1.75rem;
        text-transform: uppercase;
        cursor: pointer;

        @include u.breakpoint-up(large) {
          font-size: 2rem;
          bottom: 0;
          padding: 2.5rem;
          max-width: 100%;
        }
      }
    }

    &--item:hover {
      opacity: 0.45;
      transition: opacity 200ms ease-in-out;
      transition: transform 200ms ease-in-out;
      transform: scale(1.05);

      .caption {
        transition: transform 200ms ease-in-out;
        transform: scale(1.05);
        font-weight: bold;
      }
    }

    &--earth {
      background-image: url(../../images/mobile/image-deep-earth.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-deep-earth.jpg);
      }
    }

    &--arcade {
      background-image: url(../../images/mobile/image-night-arcade.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-night-arcade.jpg);
      }
    }

    &--soccer {
      background-image: url(../../images/mobile/image-soccer-team.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-soccer-team.jpg);
      }
    }

    &--grid {
      background-image: url(../../images/mobile/image-grid.jpg);

      p {
        max-width: 47%;
      }

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-grid.jpg);
      }
    }

    &--above {
      background-image: url(../../images/mobile/image-from-above.jpg);

      p {
        max-width: 69%;
      }

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-from-above.jpg);

        p {
          max-width: 100%;
        }
      }
    }

    &--borealis {
      background-image: url(../../images/mobile/image-pocket-borealis.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-pocket-borealis.jpg);
      }
    }

    &--curiosity {
      background-image: url(../../images/mobile/image-curiosity.jpg);

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-curiosity.jpg);
      }
    }

    &--fisheye {
      background-image: url(../../images/mobile/image-fisheye.jpg);
      margin-bottom: 2.6875rem;

      @include u.breakpoint-up(large) {
        background-image: url(../../images/desktop/image-fisheye.jpg);

        p {
          max-width: 100%;
        }
      }
    }
  }
}