@use "../util" as u;
@use "../globals" as g;

.feature {

  .container {
    padding-top: 122px;

    @include u.breakpoint-up(large) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }

  &__content {
    position: relative;

    @include u.breakpoint-up(large) {
      // height: 660px;
    }
  }

  &__image {
    background-image: url(/images/mobile/image-interactive.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 285px;
    width: 100%;

    @include u.breakpoint-up(medium) {
      height: 400px;
      background-size: cover;
    }

    @include u.breakpoint-up(large) {
      background-image: url(/images/desktop/image-interactive.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 731px;
      height: 500px;
    }
  }

  &__text {
    padding-top: 58px;

    @include u.breakpoint-up(medium) {
      padding-top: 50px;
    }

    @include u.breakpoint-up(large) {
      position: absolute;
      background-color: white;
      width: 554px;
      height: 410px;
      padding-top: 0;
      right: -39px;
      bottom: -95px;
      padding-top: 127px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 36px;
      text-align: center;

      @include u.breakpoint-up(large) {
        padding-left: 110px;
        font-size: 38px;
        text-align: start;
      }
    }

    p {
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 122px;
      padding-left: 30px;
      line-height: 1.5;
      text-align: center;
      font-family: u.$font-alata;
      color: hsl(0, 0%, 64%);
      font-size: 17px;
      font-weight: 400;

      @include u.breakpoint-up(large) {
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 0;
        padding-left: 110px;
        font-size: 14px;
        text-align: start;
      }
    }
  }
}