@use "../util" as u;
@use "../globals" as g;

.feature {

  .container {
    padding-top: 7.625rem;
    padding-bottom: 7.625rem;

    @include u.breakpoint-up(large) {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }

  &__content {
    position: relative;

    @include u.breakpoint-up(large) {
      // height: 41.25rem;
    }
  }

  &__image {
    background-image: url(../../images/mobile/image-interactive.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 17.8125rem;

    @include u.breakpoint-up(medium) {
      height: 25rem;
      background-size: cover;
    }

    @include u.breakpoint-up(large) {
      background-image: url(../../images/desktop/image-interactive.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 45.6875rem;
      height: 31.25rem;
    }
  }

  &__text {
    padding-top: 3.625rem;

    @include u.breakpoint-up(medium) {
      padding-top: 3.125rem;
    }

    @include u.breakpoint-up(large) {
      position: absolute;
      background-color: white;
      width: 34.625rem;
      height: 25.625rem;
      padding-top: 0;
      right: -2.4375rem;
      bottom: -5.9375rem;
      padding-top: 7.9375rem;
    }

    h2 {
      text-transform: uppercase;
      font-size: 2.25rem;
      text-align: center;

      @include u.breakpoint-up(large) {
        padding-left: 6.875rem;
        font-size: 2.375rem;
        text-align: start;
      }
    }

    p {
      padding-top: 1.25rem;
      padding-right: 1.875rem;
      padding-left: 1.875rem;
      line-height: 1.5;
      text-align: center;
      font-family: u.$font-alata;
      color: hsl(0, 0%, 64%);
      font-size: 1.0625rem;
      font-weight: 400;

      @include u.breakpoint-up(large) {
        padding-top: 1.5625rem;
        padding-right: 1.875rem;
        padding-bottom: 0;
        padding-left: 6.875rem;
        font-size: 0.875rem;
        text-align: start;
      }
    }
  }
}