@use "../util" as u;
@use "../globals" as g;

.footer {
  background-color: black;

  &__container {

    @include u.breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "logo socials"
        "links copyrights";
      justify-items: start;
      margin-top: 150px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 45px;

    @include u.breakpoint-up(large) {
      grid-area: logo;
      padding-top: 50px;
      padding-bottom: 36px;
    }
  }


  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 60px;

    @include u.breakpoint-up(large) {
      grid-area: links;
      flex-direction: row;
      column-gap: 20px;
      align-items: start;
      padding-bottom: 50px;
    }

    a {
      position: relative;
      line-height: 1.5;
      font-family: "Alata", sans-serif;
      color: g.$darkGray;
      font-size: 17px;
      font-weight: 400;


      @include u.breakpoint-up(large) {
        font-size: 15px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -5px;
        background: white;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }

      &:hover {
        color: white;
        transition: color 200ms ease-in-out;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    padding-bottom: 20px;

    @include u.breakpoint-up(large) {
      grid-area: socials;
      justify-self: end;
      padding: 0;
    }

    a {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        right: 24px;
        bottom: -8px;
        background: white;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }

      &:hover {

        &::before {
          opacity: 1;
        }
      }
    }

    a:last-child {
      padding-right: 0;
    }
  }

  &__copyrights {
    line-height: 1.5;
    text-align: center;
    font-family: "Alata", sans-serif;
    color: g.$veryDarkGray;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 80px;

    @include u.breakpoint-up(large) {
      grid-area: copyrights;
      justify-self: end;
      padding-bottom: 50px;
      font-size: 15px;
    }
  }
}