@use "../globals" as g;
@use "../util" as u;

.ham {

  &__menu {
    position: absolute;
    z-index: 1;
    width: 100vw;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: black;
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;

    &--nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.125rem 0 9.375rem 0;

      .logo {
        img {
          width: 11.5rem;
          height: 1.75rem;
        }
      }
    }

    .button {

      >span {
        display: block;
        width: 1.625rem;
        height: 0.125rem;
        background-color: white;
        transition: all 600ms ease-in-out;
        transform-origin: 0.1875rem 0.0625rem;

        &:not(:last-child) {
          margin-bottom: 0.3125rem;
        }
      }
    }

    &--links {
      display: flex;
      flex-direction: column;
      align-items: start;

      a {
        text-transform: uppercase;
        font-size: 1.75rem;
        padding: 1.375rem 0;
        color: g.$veryDarkGray;
      }
    }

    a:hover {
      color: white;
      transition: color 400ms ease-in-out;
    }
  }
}

.ham__menu--overlay {
  transform: translateX(100%);
}

.noScroll {
  overflow: hidden;
}