@use "../globals" as g;
@use "../util" as u;

.header {

  .overlay {}

  &__image {
    background-image: url(/images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 828px;

    @include u.breakpoint-up(large) {
      background-image: url(/images/desktop/image-hero.jpg);
      height: 650px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    img {
      width: 184px;
      height: 28px;

      @include u.breakpoint-up(large) {
        width: 194px;
        height: 33px;
      }

    }
  }

  &__toggle {

    >span {
      display: block;
      width: 1.875rem;
      height: 0.1875rem;
      background-color: g.$white;
      margin: 0.375rem 0;
    }
  }


  &__links {
    padding-top: 11px;

    a {
      color: g.$white;
      font-size: 16px;
      font-weight: bold;
      padding: 11px 16px;
    }
  }
}