@use "../globals" as g;
@use "../util" as u;

.header {

  .overlay {}

  &__image {
    background-image: url(../../../app/images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 828px;

    @include u.breakpoint-up(large) {
      background-image: url(../../images/desktop/image-hero.jpg);
      height: 650px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    img {
      width: 184px;
      height: 28px;

      @include u.breakpoint-up(large) {
        width: 194px;
        height: 33px;
      }
    }
  }

  &__toggle {

    >span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: g.$white;
      margin: 6px 0;
    }
  }


  &__links {
    padding-top: 11px;

    @include u.breakpoint-up(large) {
      display: flex;
      column-gap: 33px;
    }

    a {
      position: relative;
      color: g.$white;
      font-size: 15px;
      font-weight: bold;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -5px;
        background: g.$white;
        opacity: 0;
        transition: opacity 200ms ease-in;
      }

      &:hover {

        &::before {
          opacity: 1;
        }
      }
    }
  }
}