@use "../util" as u;
@use "../globals" as g;

.hero {
  &__description {
    padding-top: 9.375rem;


    @include u.breakpoint-up(large) {
      padding-top: 3.625rem;
      padding-bottom: 9.0625rem;
    }
  }

  &__table {
    border: 0.125rem solid g.$white;
    padding: 2.1875rem 2.1875rem 1.5625rem 2.1875rem;

    @include u.breakpoint-up(large) {
      max-width: 58%;
      padding: 2.625rem 2.625rem 2rem 2.625rem;
    }
  }

  &__tableText {

    p {
      font-size: 2.25rem;
      color: g.$white;
      text-transform: uppercase;
      margin: 0;
      word-wrap: break-word;

      @include u.breakpoint-up(medium) {
        font-size: 3.4375rem;

        br:nth-child(3) {
          display: none;
        }
      }

      @include u.breakpoint-up(large) {
        font-size: 4.25rem;
        line-height: 0.9;

        br:nth-child(1) {
          display: none;
        }

        br:nth-child(3) {
          display: none;
        }
      }
    }
  }
}