@use "../util" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0 none;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font-alata;
  font-family: u.$font-josefin;
  font-size: 0.9375rem;
  font-weight: 300;
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 30px;

  @include u.breakpoint-up(large) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &--pall {
    padding: 50px 30px;

    @include u.breakpoint-up(medium) {
      padding: 50px 30px;
    }

    @include u.breakpoint-up(large) {
      padding-top: 64px;
      padding-right: 10px;
      padding-bottom: 64px;
      padding-left: 10px;
    }
  }
}

.hide-for-mobile {
  @include u.breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include u.breakpoint-up(large) {
    display: none;
  }
}